*.log
*.Po
*.o
*.a
*.la
*.so
*.lo
*.Plo
.dirstamp
.deps/
.lib/
.libs/
.settings/
autom4te.cache/
m4/*.m4
.autotools
.cproject
.project
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
config.h.in~
src/ProjectMAR
